.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/rabid_by_tofeelpain_dea8ckz1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-family: "Ubuntu Condensed";
  margin: 274px auto 0;
}

.u-section-1 .u-text-2 {
  width: 295px;
  font-family: "Sulphur Point";
  margin: 16px auto 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 457px;
}

.u-section-2 .u-image-1 {
  width: 475px;
  height: 280px;
  margin: 62px auto 0 60px;
}

.u-section-2 .u-image-2 {
  width: 476px;
  height: 280px;
  margin: -280px 60px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 127px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -36px 207px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 77px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -349px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 322px;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 56px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -336px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 300px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 62px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 71px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -351px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 315px;
    margin-bottom: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-top: 81px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -281px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 245px;
    margin-bottom: 55px;
  }
}