.u-section-3-1 {
  background-image: url("images/20220310022148_11.jpg");
}

.u-section-3-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-1 .u-text-1 {
  margin: 20px 856px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 {
    background-position: 50% 50%;
  }

  .u-section-3-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3-1 .u-text-1 {
    margin-right: 656px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3-1 .u-text-1 {
    margin-right: 436px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-text-1 {
    margin-right: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-3-1 .u-text-1 {
    margin-right: 56px;
  }
}.u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/20220310022148_11.jpg");
}

.u-section-3-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-2 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3-2 .u-text-2 {
  margin: 30px 861px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3-2 {
    background-position: 50% 50%;
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3-2 .u-text-2 {
    margin-right: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3-2 .u-text-2 {
    margin-right: 441px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-2 .u-text-2 {
    margin-right: 261px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-2 .u-text-2 {
    margin-right: 61px;
  }
}.u-section-5-1 {
  background-image: url("images/20210728022535_11.jpg");
}

.u-section-5-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-5-1 {
    background-position: 50% 50%;
  }

  .u-section-5-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 500px;
  }
}.u-section-5-2 {
  background-image: url("images/20210407071849_1.jpg");
}

.u-section-5-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-5-2 {
    background-position: 50% 50%;
  }

  .u-section-5-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 535px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 500px;
  }
}.u-section-5-3 {
  background-image: url("images/20210517013621_1.jpg");
}

.u-section-5-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-5-3 {
    background-position: 50% 50%;
  }

  .u-section-5-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 500px;
  }
}.u-section-6-1 {
  background-image: url("images/20210726233519_12.jpg");
}

.u-section-6-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6-1 .u-text-1 {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-6-1 {
    background-position: 50% 50%;
  }

  .u-section-6-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 504px;
  }
}.u-section-6-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/20210726233519_12.jpg");
}

.u-section-6-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6-2 .u-text-1 {
  margin-bottom: 0;
}

.u-section-6-2 .u-text-2 {
  margin: 28px 860px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6-2 {
    background-position: 50% 50%;
  }

  .u-section-6-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 60px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/20200806195920_1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-1 .u-text-1 {
  width: 449px;
  margin: 265px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 816px;
}

.u-section-2 .u-gallery-1 {
  height: 751px;
  margin-bottom: 12px;
  margin-top: 54px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 333px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 333px;
  left: auto;
  right: 10px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 40px;
  }
}.u-block-bff3-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-bff3-3 {
  position: absolute;
  left: 0;
}

.u-block-bff3-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-4 {
  min-height: 470px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 476px;
  background-image: url("images/20220310022021_1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 476px;
  background-image: url("images/20220310021739_1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 476px;
  background-image: url("images/20220310021415_1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 386px;
  }

  .u-section-4 .u-image-1 {
    min-height: 393px;
  }

  .u-section-4 .u-image-2 {
    min-height: 393px;
  }

  .u-section-4 .u-image-3 {
    min-height: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 294px;
  }

  .u-section-4 .u-image-1 {
    min-height: 301px;
  }

  .u-section-4 .u-image-2 {
    min-height: 301px;
  }

  .u-section-4 .u-image-3 {
    min-height: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1347px;
  }

  .u-section-4 .u-image-1 {
    min-height: 677px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 677px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 677px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 845px;
  }

  .u-section-4 .u-image-1 {
    min-height: 426px;
  }

  .u-section-4 .u-image-2 {
    min-height: 426px;
  }

  .u-section-4 .u-image-3 {
    min-height: 426px;
  }
}.u-block-c06a-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-c06a-3 {
  position: absolute;
  left: 0;
}

.u-block-c06a-4 {
  position: absolute;
  right: 0;
}.u-block-c152-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-c152-3 {
  position: absolute;
  left: 0;
}

.u-block-c152-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-7 {
  min-height: 470px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 476px;
  background-image: url("images/20210726233335_1.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 476px;
  background-image: url("images/20220310022944_11.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 476px;
  background-image: url("images/20210726233404_1.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 386px;
  }

  .u-section-7 .u-image-1 {
    min-height: 393px;
  }

  .u-section-7 .u-image-2 {
    min-height: 393px;
  }

  .u-section-7 .u-image-3 {
    min-height: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 294px;
  }

  .u-section-7 .u-image-1 {
    min-height: 301px;
  }

  .u-section-7 .u-image-2 {
    min-height: 301px;
  }

  .u-section-7 .u-image-3 {
    min-height: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1347px;
  }

  .u-section-7 .u-image-1 {
    min-height: 677px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 677px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 677px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 845px;
  }

  .u-section-7 .u-image-1 {
    min-height: 426px;
  }

  .u-section-7 .u-image-2 {
    min-height: 426px;
  }

  .u-section-7 .u-image-3 {
    min-height: 426px;
  }
}